AI_Model/memory/
__pycache__/
cache/
temp/
.cache/

.venv/
.env
skip
*.log
sample.pdf
test.py
test.txt


sdf_encoding_checkpoints/
sdf_dataset.json
Audio/TTS/models/
sdf_model_final.pth

Song_Player/

point_e_model_cache/
cuda/
poppler/