AI_Model/memory/
__pycache__/
cache/
temp/
.cache/

.venv/
.env
skip
*.log
sample.*
test.py
test.txt
extra


sdf_encoding_checkpoints/
sdf_dataset.json
Audio/TTS/models/
sdf_model_final.pth

Song_Player/

point_e_model_cache/
cuda/
poppler/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
