AI_Model/memory/
__pycache__/
cache/
temp/

.env
skip
*.log
sample.pdf


sdf_encoding_checkpoints/
sdf_dataset.json
Audio/TTS/models/
sdf_model_final.pth

Song_Player/

point_e_model_cache/
cuda/
poppler/